{% extends 'pages/base.html'%}

{% block content%}
    <a href="{% url 'home' %}">Voltar</a>

    <h2 class="mb-5 text-center" >Lista de Empréstimos</h2>

    <table class="table table table-striped table-bordered">
    <thead>
        <tr>
            <th>Livro</th>
            <th>Nome</th>
            <th>Data de Empréstimo</th>
            <th>Data de Devolução</th>
            <th>Status</th>
            <th>Ação</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for e in emprestimos %}
        <tr>
            <td>{{ e.livro.titulo }}</td>
            <td>{{ e.nome }}</td>
            <td>{{ e.data_de_emprestimo }}</td>
            <td>{{ e.data_de_devolucao|default:"-" }}</td>
            <td>{% if e.devolvido %} 
                "Devolvido"
                {% else  %}
                "Em aberto"       
                {% endif %}     
            </td>
            <td>
                {% if e.devolvido %}
                <a href="{% url 'devolver' e.id %}">Marcar como devolvido</a>
                {% else %}
                -
                {% endif %}
            </td>
                <td>
                {% if e.devolvido %}
                 <a href="{% url 'remover_emprestimo' e.id %}">Remover</a>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}